<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>cell01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 135}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{274, 137}, {135, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cell02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 135}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{137, 548}, {135, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cell03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 135}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{685, 548}, {135, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cell04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 135}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{822, 0}, {135, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cell05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 135}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{548, 411}, {135, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cell06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 135}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{685, 411}, {135, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cell07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 135}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{822, 685}, {135, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cell08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 135}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{274, 822}, {135, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cell09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 135}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 548}, {135, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cell10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 135}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{137, 274}, {135, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cell11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 135}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{548, 822}, {135, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cell12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 135}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{822, 274}, {135, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cell13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 135}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{685, 685}, {135, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cell14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 135}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{411, 822}, {135, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cell15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 135}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 411}, {135, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cell16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 135}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{548, 137}, {135, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cell17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 135}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{548, 685}, {135, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cell18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 135}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cell19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 135}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{274, 274}, {135, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cell20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 135}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{137, 137}, {135, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cell21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 135}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{137, 0}, {135, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cell22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 135}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{685, 137}, {135, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cell23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 135}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{411, 274}, {135, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cell24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 135}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{548, 274}, {135, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cell25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 135}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{685, 822}, {135, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cell26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 135}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{685, 274}, {135, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cell27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 135}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{548, 0}, {135, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cell28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 135}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{822, 411}, {135, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cell29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 135}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{137, 822}, {135, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cell30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 135}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{548, 548}, {135, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cell31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 135}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 822}, {135, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cell32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 135}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 685}, {135, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cell33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 135}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{411, 411}, {135, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cell34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 135}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{274, 0}, {135, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cell35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 135}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{274, 411}, {135, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cell36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 135}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{411, 137}, {135, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cell37.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 135}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{822, 137}, {135, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cell38.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 135}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{137, 411}, {135, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cell39.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 135}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{685, 0}, {135, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cell40.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 135}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{137, 685}, {135, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cell41.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 135}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{411, 548}, {135, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cell42.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 135}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{411, 0}, {135, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cell43.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 135}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 137}, {135, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cell44.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 135}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{274, 685}, {135, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cell45.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 135}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{822, 548}, {135, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cell46.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 135}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{274, 548}, {135, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cell47.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 135}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{411, 685}, {135, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cellframe.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 135}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 274}, {135, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>Untitled_default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>Untitled_default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>